<!DOCTYPE html>
<html>
<head>
  <title>Cory Diamand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-container">
		<div id="name">
			<b>Cory Diamand</b>
		</div>
		<%= link_to "Blog","/blog"%><%=link_to "Home","/index" %>
		<%= yield %>
	</div><!--main-container -->
</body>
</html>
